{% load static %}
{% load crispy_forms_tags %}



  <body>
    <div class="d-flex" id="wrapper">

      <!-- Sidebar -->
      <div class="bg-light border-right" id="sidebar-wrapper">
        <div class="sidebar-heading">Start Bootstrap </div>
        <div class="list-group list-group-flush">
          <a href="{% url 'course:course_list' %}" class="list-group-item list-group-item-action bg-light">Kurse</a>
          <a href="{% url 'shopping:product_list' %}" class="list-group-item list-group-item-action bg-light">Produkte</a>
          <a href="{% url 'settings:settings_dashboard' %}" class="list-group-item list-group-item-action bg-light">Settings</a>
          <a href="{% url 'sale:sale_list' %}" class="list-group-item list-group-item-action bg-light">Sale</a>
          <a href="#" class="list-group-item list-group-item-action bg-light">Profile</a>
          <a href="#" class="list-group-item list-group-item-action bg-light">Status</a>
        </div>
      </div>
      <!-- /#sidebar-wrapper -->

    <div id="page-content-wrapper">
      {% include "navbar.html" %}
      <div class="container-fluid wraper">

        <!--Content-->
        {% block content %}{% endblock %}
        <!--./Content -->

    </div><!--./page-content-wrapper-->
   </div><!--container-fluid wraper ./-->

    </div>

    <!--footer-->
    {% include "footer.html" %}
    <!--./footer-->
  </body>
</html>
