{% extends "basic.html" %}

{% block content %}

<div class="content-header row">
</div>

<div class="row justify-content-md-center">
  <div class="col-md-6 col-sm-12">
      <div class="card">
          <img class="card-img-top img-fluid" src="{{ object.img.url }}" alt="Card image cap" />
          <div class="card-header">
              <h4 class="card-title">{{ object.title }}</h4>
          </div>
          <div class="card-body">
              <p class="card-text">
                  {% autoescape off %}{{ object.description }}{% endautoescape %}
              </p>
              <p class="card-text">
                  Erstellt von: {{ object.user.full_name }}
              </p>
              <a href="{% url 'shopping:product_list' %}" class="btn btn-primary block">Übersicht</a>
          </div>
      </div>
  </div>
</div>

{% endblock %}
