{% extends "basic.html" %}

{% block content %}

    <div class="col-10">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Create</h5>
          <form method="post" enctype="multipart/form-data">
              {% csrf_token %}
              {{ form.as_p }}
              <input type=hidden name="owner" value="{{ user_id }}">
              <input class="btn btn-outline-secondary" type="submit" value="{{ btn_title }}">
          </form>
        </div>
      </div>
    </div>

{% endblock %}
