{% extends "basic.html" %}

{% block content %}

    <section class="page-user-profile">

    <div class="content-header row">

      {% if messages %}
        <div class="alert alert-success" role="alert">
          {% for message in messages %}
            {{ message }}
          {% endfor %}
        </div>
      {% endif %}

    </div>

    <!-- user profile heading section start -->
    <div class="card">
        <div class="user-profile-images">
            <!-- user timeline image -->
            <img src="{{ course.img.url }}" class="img-fluid rounded-top user-timeline-image" alt="user timeline image" style="max-height:350px; width:100%;">
        </div>
        <!-- user profile nav tabs start -->
        <div class="card-body px-30">
            <a href="{% url 'course:course_update' course.id %}" type="button" class="btn btn-light-primary btn-icon mr-1 mb-1"><i class="bx bx-pencil"></i> Bearbeiten</a>
            <a href="{% url 'course:course_deletet' course.id %}" type="button" class="btn btn-light-danger mr-1 mb-1"><i class="bx bx-trash-alt"></i> Danger</a>
            <p class="card-text">{% if course.descriptione == True %} {% else %} {{ course.description|truncatewords:30 }} {% endif %}</p>
        </div>
        <div class="card-footer d-flex justify-content-between">
          <span>Erstellt von: {{ course.owner.full_name }} | Erstellt am: {{ course.update }}</span>

        </div>
    </div>
    <!-- user profile heading section ends -->




    <!-- Basic multiple Column Form section start -->
                    <section id="multiple-column-form">
                        <div class="row match-height">
                            <div class="col-12">
                                <div class="card">
                                    <div class="card-header">
                                        <h4 style="margin-bottom:30px;" class="card-title">Multiple Column</h4>
                                    </div>
                                    <div class="card-body">
                                        <form class="form">{% csrf_token %}
                                            <div class="form-body">
                                                <div class="row">
                                                    <div class="col-md-6 col-12">
                                                        <div class="form-label-group">
                                                            {{ categoryform.titel }}
                                                        </div>
                                                    </div>
                                                    <div class="col-md-6 col-12">
                                                        <div class="form-label-group">
                                                            {{ categoryform.order }}
                                                        </div>
                                                    </div>
                                                    <div class="col-md-6 col-12">
                                                        <div class="form-label-group">
                                                          {{ categoryform.description }}
                                                        </div>
                                                    </div>
                                                    <div class="col-12 d-flex justify-content-end">
                                                      <input type=hidden name="course" value="{{ course.id }}">
                                                      <input class="save_content_btn btn btn-primary mr-1" name="categoryform" type="Submit"/>

                                                        <button type="reset" class="btn btn-light-secondary">Reset</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                    <!-- Basic multiple Column Form section end -->


      <div class="card">
        <div class="card-body card-body-padding">
          <table class="table">
            <thead>
              <tr>
                <th scope="col">Name</th>
                <th scope="col">Reinfolge</th>
                <th scope="col">Öffentlich</th>
                <th style="float: right;">Barbeiten</th>
              </tr>
            </thead>

          {% for course in course.category_set.all %}

              <tbody>
                <tr class="table-secondary">
                  <td>
                    {{ course.titel }} | Order:{{ course.order }}<br>
                    <small>{{course.description|truncatewords:8}}</small>
                  </td>
                  <td></td>
                  <td></td>
                  <td><a href="{% url 'course:category_deletet' course.id %}"><i style="float: right;" class="bx fas fa-trash-alt"></i></a> <a href="{% url 'course:category_update' course.id %}"><i style="float: right; margin-right: 30px;" class="bx fas fa-edit"></i></a></td>
                </tr>
                {% for category in course.lesson_set.all %}
                <tr>
                  <td>{{ category.name }}</td>
                  <td>{{ category.order }}</td>
                  <td>{% if category.is_active == True %} <span class="text-success">ist aktive</span> {% else %} <span class="text-danger">ist daktiviert</span>{% endif %}</td>
                  <td><a href="{% url 'lesson:lesson_detail' category.id %}"><i style="float: right;" class="bx far fa-eye"></i></a> <a href="{% url 'lesson:lesson_update' category.id %}"><i style="float:right; margin-right: 30px;" class="bx fas fa-edit"></i></a></td>
                </tr>
                {% endfor %}
                <tr>
                <form method="post">{% csrf_token %}
                  <td>{{ lessonform.name }}</td>
                  <td>{{ lessonform.order }}</td>
                  <td>{{ lessonform.link_url }}</td>
                  <td><input class="save_content_btn btn btn-primary" name="lessonform" type="Submit" value="{{ btn_title_2 }}"/></td>
                  <input type=hidden name="category" value="{{ course.id }}">
                </form>
                </tr>
              </tbody>

          {% endfor %}
          </table>
        </div><!--card body ./-->
      </div><!--card ./-->




</section>







{% endblock %}
