{% extends "basic.html" %}

{% block content %}
              <div class="content-header row">

              </div>

              <div class="invoice-create-btn mb-1">
                  <a href="{% url 'course:course_create' %}" class="btn btn-primary glow invoice-create" role="button" aria-pressed="true">Kurs Erstelln</a>
              </div>

                <!-- table success start -->
                <section id="table-success">
                    <div class="card">
                        <!-- datatable start -->
                        <div class="table-responsive">
                            <table id="table-extended-success" class="table mb-0">
                                <thead>
                                    <tr>
                                        <th>campaign</th>
                                        <th>account details</th>
                                        <th>category</th>
                                        <th>amount</th>
                                        <th>status</th>
                                        <th>action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                  {% for object in course_list %}
                                    <tr>
                                        <td class="text-bold-600 pr-0"><img class="rounded-circle mr-1" src="{{ object.img.url }}" width="30px" height="30px" alt="card">{{ object.name }}</td>
                                        <td>{{ object.description|truncatewords:20 }}</td>
                                        <td class="text-bold-600"><i class="text-bold-600 bx bx-music mr-50"></i><span>{{ object.description|truncatewords:20 }}</span>
                                        </td>
                                        <td class="text-bold-600">$1,934</td>
                                        <td class="text-success">Success!</td>
                                        <td>
                                            <div class="dropdown">
                                                <span class="bx bx-dots-vertical-rounded font-medium-3 dropdown-toggle nav-hide-arrow cursor-pointer" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" role="menu"></span>
                                                <div class="dropdown-menu dropdown-menu-right">
                                                    <a class="dropdown-item" href="{% url 'course:course_material' object.id %}"><i class="bx bx-edit-alt mr-1"></i> Bearbeiten</a>
                                                    <a class="dropdown-item" href="{% url 'course:course_deletet' object.id %}"><i class="bx bx-trash mr-1"></i> Löschen</a>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                        <!-- datatable ends -->
                    </div>
                </section>
                <!-- table success ends -->
{% endblock %}
