{% extends "basic.html" %}
{% block content %}


  <div class="col-md-12">
   <div class="card">
    <div class="card-header">
      Featured
    </div>
    <div class="card-body">
      <h5 class="card-title">Erstelle dein Kurs</h5>
      <p class="card-text"></p>
      <a href="{% url 'course:course_create' %}" class="btn btn-primary glow">Kurs Erstellen</a>
    </div>
   </div>
  </div>

  <div class="col-md-12">
    <div class="row">
      {% for object in course_list %}
      <div class="col-xl-3 col-md-6 col-sm-12">
        <div class="card">
          <img src="{{ object.img.url }}" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">{{ object.name }}</h5>
            <p class="card-text">{{ object.description|truncatewords:20 }}</p>
            <p class="card-text"><small class="text-muted">{{ object.owner.full_name }} </small></p>
            <a href="#" class="btn btn-primary glow">Kaufen</a>
          </div>
          <div class="card-footer">

            <ul class="list_">
              <li><a href="{% url 'course:course_update' object.id %}"><i class="fas fa-marker"></i></a></li>
              <li><a href="{% url 'course:course_deletet' object.id %}"><i class="far fa-trash-alt"></i></a></li>
              <li><a href="{% url 'course:course_material' object.id %}"><i class="far fa-edit"></i></a></li>
            </ul>

          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>

  {% endblock %}
