{% extends "shop_user.html" %}




<!--Content-->
{% block content %}

<div class="content-header row mt-4">
</div>

<div class="row justify-content-md-center">
  <div class="col-md-8">
    <div class="row">
      {% for object in product_list %}
     <div class="col-xl-4 col-lg-6 col-md-12">
      <div class="card">
        <img class="card-img-top img-fluid" src="{{ object.img.url }}" alt="Card image cap">
        <div class="card-header">
          <h4 class="card-title">{{ object.title }}</h4>
        </div>
        <div class="card-body">
          <p class="card-text">
            {% autoescape off %}{{ object.description }}{% endautoescape %}
          </p>
          <p class="card-text">{{ object.preis }}</p>
          <a href="{% url 'shopping:shop_detaile' object.id %}" class="btn btn-outline-primary">Go somewhere</a>
          <a href="{% url 'course:course_user_single' object.course.id %}" class="btn btn-outline-primary">Go</a>
        </div>
      </div>
    </div>
    {% endfor %}
   </div>
  </div>
</div>







{% endblock %}
<!--./Content -->
