{% extends "shop.html" %}




<!--Content-->
{% block content %}



<div class="content-header row">
</div>


<div class="row">
  {% for object in product_list %}
  <div class="col-md-3 col-sm-6 mb-sm-1">
      <div class="card">
        <img class="card-img-top img-fluid" src="{{ object.img.url }}" alt="Card image cap">
        <div class="card-header">
          <h4 class="card-title">{{ object.title }}</h4>
        </div>
        <div class="card-body">
          <p class="card-text">
            {% autoescape off %}{{ object.description }}{% endautoescape %}
          </p>
          <p class="card-text">{{ object.preis }}</p>
          <a href="{% url 'shopping:shop_detaile' object.id %}" class="btn btn-outline-primary">Go somewhere</a>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>



{% endblock %}
<!--./Content -->
