{% extends "shop.html" %}
{%block extra_head%}
<script src="//js.stripe.com/v3/" ></script>
{%include 'shop/includes/product_image_css.html' with object=object %}

{%endblock%}
<!--Content-->
{% block content %}

<div class="row">
  <div class="col-md-12">
    <div class="banner"></div>
    <div class="card">
      <div class="card-body">
        <h1 class="card-title">Checkout</h1>
        <p class="card-text">{% autoescape off %}{{ object.description }}{% endautoescape %}</p>
      </div>
    </div>
  </div>
</div>


<div class="card">
  <div class="row">
    <div class="col-md-6">
      <div class="card-body">

          <h4 class="mb-3">Adresse</h4>
            
          
            <div class="row g-3">
                <div class="col-sm-6">
                  <label for="firstName" class="form-label">Vorname</label>
                  {{ object.vorname }}
                </div>

                <div class="col-sm-6">
                  <label for="lastName" class="form-label">Nachname</label>
                  {{ object.nachnahme }}
                </div>

                <div class="col-12">
                  <label for="username" class="form-label">Unternehmensname</label>
                    {{ object.firma }}
                </div>

                <div class="col-12">
                  <label for="email" class="form-label">Email</label>
                  {{ object.email }}
                </div>

                <div class="col-6">
                  <label for="address" class="form-label">Address</label>
                  {{ object.adresse }}
                </div>

                <div class="col-md-6">
                  <label for="zip" class="form-label">PLZ</label>
                  {{ object.plz }}
                </div>

                <div class="col-6">
                  <label for="address2" class="form-label">Stand</label>
                  {{ object.stadt }}
                </div>
                <div class="col-6">
                  <label for="address2" class="form-label">Land</label>
                  {{ object.land }}
                </div>

                <div class="col-6">
                  <label for="address2" class="form-label">Uid Nummer</label>
                  {{ object.tax_nr }}
                </div>

                <div class="col-6">
                  <label for="address2" class="form-label">Telefonnummer</label>
                  {{ object.tel }}
                </div>
              
                <button class="btn btn-outline-secondary" id="checkout-button">Checkout</button>
                
    <script type="text/javascript">
      // Create an instance of the Stripe object with your publishable API key
      var stripe = Stripe('{{settings.STRIPE_PUBLIC_KEY}}');
      var checkoutButton = document.getElementById('checkout-button');

      checkoutButton.addEventListener('click', function() {
        // Create a new Checkout Session using the server-side endpoint you
        // created in step 3.
        fetch("{{object.create_checkout_session_url}}", {
          method: 'POST',
        })
        .then(function(response) {
          return response.json();
        })
        .then(function(session) {
          return stripe.redirectToCheckout({ sessionId: session.id });
        })
        .then(function(result) {
          // If `redirectToCheckout` fails due to a browser or network
          // error, you should display the localized error message to your
          // customer using `error.message`.
          if (result.error) {
            alert(result.error.message);
          }
        })
        .catch(function(error) {
          console.error('Error:', error);
        });
      });
    </script>



        </div>
      </div>
    </div>
    <div class="col-md-5 offset-md-1">
      {%include 'shop/includes/summary.html'%}
    </div>
  </div>
</div>






{% endblock %}
<!--./Content -->
