{% extends "shop_user.html" %}
{% load static %}

{% block csspage %}
<link rel="stylesheet" type="text/css" href="{% static 'app-assets/css/pages/page-user-profile.css' %}">
{% endblock %}

<!--Content-->
{% block content %}

<div class="content-header row mt-4">
</div>


            <div class="content-header row">
            </div>
            <div class="content-body">
                <!-- page user profile start -->
                <section class="page-user-profile">
                    <div class="row">
                        <div class="col-12">
                            <!-- user profile heading section start -->
                            <div class="card">
                                <div class="user-profile-images">
                                    <!-- user timeline image -->
                                    <img src="{% static 'app-assets/images/profile/post-media/profile-banner.jpg' %}" class="img-fluid rounded-top user-timeline-image" alt="user timeline image">
                                    <!-- user profile image -->
                                    <img src="{% static 'app-assets/images/portrait/small/avatar-s-16.jpg' %}" class="user-profile-image rounded" alt="user profile image" height="140" width="140">
                                </div>
                                <div class="user-profile-text">
                                    <h4 class="mb-0 text-bold-500 profile-text-color">Martina Ash</h4>
                                    <small>Devloper</small>
                                </div>
                                <!-- user profile nav tabs start -->
                                <div class="card-body px-0">
                                    <ul class="nav user-profile-nav justify-content-center justify-content-md-start nav-pills border-bottom-0 mb-0" role="tablist">
                                        <li class="nav-item mb-0">
                                            <a class="nav-link d-flex px-1" id="activity-tab" data-toggle="tab" href="#activity" aria-controls="activity" role="tab" aria-selected="false"><i class="bx bx-user"></i><span class="d-none d-md-block">Activity</span></a>
                                        </li>
                                        <li class="nav-item mb-0">
                                            <a class="nav-link d-flex px-1" id="friends-tab" data-toggle="tab" href="#friends" aria-controls="friends" role="tab" aria-selected="false"><i class="bx bx-message-alt"></i><span class="d-none d-md-block">Friends</span></a>
                                        </li>
                                        <li class="nav-item mb-0 mr-0">
                                            <a class="nav-link d-flex px-1" id="profile-tab" data-toggle="tab" href="#profile" aria-controls="profile" role="tab" aria-selected="false"><i class="bx bx-copy-alt"></i><span class="d-none d-md-block">Profile</span></a>
                                        </li>
                                    </ul>
                                </div>
                                <!-- user profile nav tabs ends -->
                            </div>
                            <!-- user profile heading section ends -->

                            <!-- user profile content section start -->
                            <div class="row">
                                <!-- user profile nav tabs content start -->
                                <div class="col-lg-9">
                                    <div class="tab-content">
                                        <div class="tab-pane active" id="activity" aria-labelledby="activity-tab" role="tabpanel">
                                            <!-- user profile nav tabs activity start -->
                                            <div class="card">
                                                <div class="card-body">

                                                  <div class="table-responsive">
                                                      <!-- table start -->
                                                      <table id="table-marketing-campaigns" class="table mb-0">
                                                          <thead>
                                                              <tr>
                                                                  <th>Name</th>
                                                                  <th>Dauer</th>
                                                                  <th>Ansehen</th>
                                                              </tr>
                                                          </thead>
                                                          {% for course in course.category_set.all %}
                                                          <tbody>
                                                              <tr class="group">
                                                                  <td colspan="8">{{ course.titel }}</td>
                                                              </tr>
                                                              {% for category in course.lesson_set.all %}
                                                              <tr>
                                                                  <td class="text-bold-600">
                                                                    <i class="bx text-success align-middle mr-50"></i>
                                                                    <span>{{ category.name }}</span>
                                                                  </td>
                                                                  <td>{{ category.time }}</td>
                                                                  <td><a href="{% url 'course:category_deletet' course.id %}"><i class="bx bx-trash-alt"></i></a></td>
                                                              </tr>
                                                              {% endfor %}
                                                          </tbody>
                                                          {% endfor %}
                                                      </table>
                                                      <!-- table ends -->
                                                  </div>
                                                </div>
                                            </div>
                                            <!-- user profile nav tabs activity start -->
                                        </div>
                                        <div class="tab-pane" id="friends" aria-labelledby="friends-tab" role="tabpanel">
                                            <!-- user profile nav tabs friends start -->
                                            <div class="card">
                                                <div class="card-body">

                                                </div>
                                            </div>
                                            <!-- user profile nav tabs friends ends -->
                                        </div>
                                        <div class="tab-pane" id="profile" aria-labelledby="profile-tab" role="tabpanel">
                                            <!-- user profile nav tabs profile start -->
                                            <div class="card">
                                                <div class="card-body">
                                                    <div class="row">
                                                        <div class="col-12">
                                                            <div class="row">
                                                                <div class="col-12 col-sm-3 text-center mb-1 mb-sm-0">
                                                                    <img src="../../../app-assets/images/portrait/small/avatar-s-16.jpg" class="rounded" alt="group image" height="120" width="120" />
                                                                </div>
                                                                <div class="col-12 col-sm-9">
                                                                    <div class="row">
                                                                        <div class="col-12 text-center text-sm-left">
                                                                            <h6 class="media-heading mb-0">valintini_007<i class="cursor-pointer bx bxs-star text-warning ml-50 align-middle"></i></h6>
                                                                            <small class="text-muted align-top">Martina Ash</small>
                                                                        </div>
                                                                        <div class="col-12 text-center text-sm-left">
                                                                            <div class="mb-1">
                                                                                <span class="mr-1">122 <small>Posts</small></span>
                                                                                <span class="mr-1">4.7k <small>Followers</small></span>
                                                                                <span class="mr-1">652 <small>Following</small></span>
                                                                            </div>
                                                                            <p>Algolia helps businesses across industries quickly create relevant😎, scalable😀, and
                                                                                lightning😍
                                                                                fast search and discovery experiences.</p>
                                                                            <div>
                                                                                <div class="badge badge-light-primary badge-round mr-1 mb-1" data-toggle="tooltip" data-placement="bottom" title="with 7% growth @valintini_007 is on top 5k"><i class="cursor-pointer bx bx-check-shield"></i>
                                                                                </div>
                                                                                <div class="badge badge-light-warning badge-round mr-1 mb-1" data-toggle="tooltip" data-placement="bottom" title="last 55% growth @valintini_007 is on weedday"><i class="cursor-pointer bx bx-badge-check"></i>
                                                                                </div>
                                                                                <div class="badge badge-light-success badge-round mb-1" data-toggle="tooltip" data-placement="bottom" title="got premium profile here"><i class="cursor-pointer bx bx-award"></i>
                                                                                </div>
                                                                            </div>
                                                                            <button class="btn btn-sm d-none d-sm-block float-right btn-light-primary">
                                                                                <i class="cursor-pointer bx bx-edit font-small-3 mr-50"></i><span>Edit</span>
                                                                            </button>
                                                                            <button class="btn btn-sm d-block d-sm-none btn-block text-center btn-light-primary">
                                                                                <i class="cursor-pointer bx bx-edit font-small-3 mr-25"></i><span>Edit</span></button>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="card">
                                                <div class="card-body">
                                                    <h5 class="card-title">Basic details</h5>
                                                    <ul class="list-unstyled">
                                                        <li><i class="cursor-pointer bx bx-map mb-1 mr-50"></i>California</li>
                                                        <li><i class="cursor-pointer bx bx-phone-call mb-1 mr-50"></i>(+56) 454 45654 </li>
                                                        <li><i class="cursor-pointer bx bx-time mb-1 mr-50"></i>July 10</li>
                                                        <li><i class="cursor-pointer bx bx-envelope mb-1 mr-50"></i>Jonnybravo@gmail.com</li>
                                                    </ul>
                                                    <div class="row">
                                                        <div class="col-sm-6 col-12">
                                                            <h6><small class="text-muted">Cell Phone</small></h6>
                                                            <p>(+46) 456 54432</p>
                                                        </div>
                                                        <div class="col-sm-6 col-12">
                                                            <h6><small class="text-muted">Family Phone</small></h6>
                                                            <p>(+46) 454 22432</p>
                                                        </div>
                                                        <div class="col-sm-6 col-12">
                                                            <h6><small class="text-muted">Reporter</small></h6>
                                                            <p>John Doe</p>
                                                        </div>
                                                        <div class="col-sm-6 col-12">
                                                            <h6><small class="text-muted">Manager</small></h6>
                                                            <p>Richie Rich</p>
                                                        </div>
                                                        <div class="col-12">
                                                            <h6><small class="text-muted">Bio</small></h6>
                                                            <p>Built-in customizer enables users to change their admin panel look & feel based on their
                                                                preferences Beautifully crafted, clean & modern designed admin theme with 3 different demos &
                                                                light - dark versions.</p>
                                                        </div>
                                                    </div>
                                                    <button class="btn btn-sm d-none d-sm-block float-right btn-light-primary mb-2">
                                                        <i class="cursor-pointer bx bx-edit font-small-3 mr-50"></i><span>Edit</span>
                                                    </button>
                                                    <button class="btn btn-sm d-block d-sm-none btn-block text-center btn-light-primary">
                                                        <i class="cursor-pointer bx bx-edit font-small-3 mr-25"></i><span>Edit</span></button>
                                                </div>
                                            </div>
                                            <!-- user profile nav tabs profile ends -->
                                        </div>
                                    </div>
                                </div>
                                <!-- user profile nav tabs content ends -->
                                <!-- user profile right side content start -->
                                <div class="col-lg-3">
                                    <!-- user profile right side content birthday card start -->
                                    <div class="card">
                                        <div class="card-body">

                                        </div>
                                    </div>
                                    <!-- user profile right side content birthday card ends -->
                                    <!-- user profile right side content related groups start -->
                                    <div class="card">
                                        <div class="card-body">


                                        </div>
                                    </div>
                                    <!-- user profile right side content related groups ends -->
                                    <!-- user profile right side content gallery start -->
                                    <div class="card">
                                        <div class="card-body">

                                        </div>
                                    </div>
                                    <!-- user profile right side content gallery ends -->
                                </div>
                                <!-- user profile right side content ends -->
                            </div>
                            <!-- user profile content section start -->
                        </div>
                    </div>
                </section>
                <!-- page user profile ends -->

            </div>

    <!-- END: Content-->




{% endblock %}
<!--./Content -->


{% block jspage %}
<script src="{% static 'app-assets/js/scripts/pages/table-extended.js' %}"></script>
<script src="{% static 'app-assets/js/scripts/popover/popover.js' %}"></script>

<!-- BEGIN: Page Vendor JS-->
<script src="{% static 'app-assets/vendors/js/ui/jquery.sticky.js' %}"></script>
<script src="{% static 'app-assets/vendors/js/extensions/swiper.min.js' %}"></script>
<!-- END: Page Vendor JS-->
{% endblock %}
