{% extends "shop_user.html" %}
{% load static %}

{% block csspage %}
<style media="screen">
/* --------------------- */
/* Responsive Layout Css */
/* --------------------- */
@media (min-width: 992px) {
  body .content-right {
    width: calc(100% - 360px);
    float: right;
    margin-top: 2rem;
  }
  .sidebar-right.sidebar-sticky {
  float: left !important;
  margin: 0;
  width: 360px !important;
  margin-top: 2rem;
}
}


</style>
{% endblock %}

<!--Content-->
{% block content %}

        <div class="sidebar-right sidebar-sticky">
            <div class="sidebar">
                <div class="pr-2">
                    <div class="sidebar-content component-sidebar p-1 affix" data-spy="affix" data-offset-top="-77">
                        <div class="card">
                            <div class="card-header">
                                <h6 class="card-title">Available lessons</h6>
                            </div>
                            <div class="card-content" aria-expanded="true">
                                <div class="card-body">
                                  <div class="list-group list-group-flush">
                                  {% for lesson in lessons %}
                                    <a href="{% url 'course:user_lesson_single' lesson_id=lesson.pk %}" class="list-group-item list-group-item-action border-0 d-flex {% if lesson == current_lesson%}active{%endif%}">
                                     {{lesson}}
                                    </a>
                                  {%endfor%}
                                  </div>
                                </div>
                                <h6 class="border-top-grey border-top-lighten-2 p-1 mt-1 mb-0">
                                    <a class="nav-link display-block text-muted" href="#top">Back to top
                                        <i class="float-right bx bx-up-arrow-circle font-medium-3"></i>
                                    </a>
                                </h6>
                            </div>
                        </div>
                    </div>
                    </div>
            </div>
          </div>

            <div class="content-right p-1">
                <div class="content-body">
                    <!-- Alert -->
                    <div class="card">
                        <div class="card-header">
                            <h4 id="alert" class="card-title">
                            {{current_lesson.lesson}}
                            <span class="badge badge-secondary">Time: {{current_lesson.lesson.time}}</span>
                            </h4>
                        </div>
                        <div class="card-content collapse show" aria-expanded="true">
                            <div class="card-body">
                                <div class="card-text">
                                    <p>{{current_lesson.lesson.description}}</p>
                                    Lecture:
                                    {%for lecture in current_lesson.lesson.lecture_set.all %}
                                    
	                                    <div class="card">
										  <img class="card-img-top" src="{{lecture.display_photo}}" alt="{{lecture.name}}">
										  <div class="card-body">
										    <p class="card-text">{{lecture.description}}</p>
										  </div>
										</div>
                                    {%endfor%}
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
              </div>

{% endblock %}
